:root {
    --main-background-cl: #F4F6F9;
    --secondary-background-cl: #fff;
    --third-background-cl: #1E2939;
    --main-text-cl: #000;
    --secondary-text-cl: #595959;
    --third-text-cl: #fff;
    --edit-text-cl: #FB6D3A;
    --list-dots-cl: #FB6D3A;
}